API_ID=
API_HASH=
PHONE=
LOGIN=
TARGET_USER_IDS=
# id1,id2,id3...
TARGET_CHANNEL_IDS=
# id1,id2,id3...
OPENROUTER_API_KEY=
OPENROUTER_MODEL=meta-llama/llama-3.1-8b-instruct
OPENROUTER_SITE_URL=
OPENROUTER_APP_NAME=
GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-1.5-flash

"""
Остальные настройки можно изменить в файле config.yaml
"""
